
# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Expo
# =====================
.expo/
dist/
web-build/
expo-env.d.ts

# =====================
# Native build artifacts
# =====================
/android
/ios
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =====================
# Metro / React Native
# =====================
.metro-health-check*

# =====================
# Logs / Debug
# =====================
npm-debug.*
yarn-debug.*
yarn-error.*

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
*.pem

# =====================
# Environment files
# =====================
.env
.env.*
!.env.example

# =====================
# TypeScript
# =====================
*.tsbuildinfo

# =====================
# Large local assets (DO NOT COMMIT)
# =====================
assets/vosk/

# =====================
# App examples / scratch
# =====================
app-example
.env
assets/en/
assets/hi/
assets/te/
